#网联接入平台主服务器（0表示无主服务器即分发模式，其他（1、2、3...）表示主服务器ID即主备模式）
active_host_epccb_id=1

#网联接入平台服务器列表
host_epccb1.name=epccb1                  
host_epccb1.desc=网联接入平台1
host_epccb1.ip=192.168.20.43
host_epccb1.port=7080
host_epccb1.url=/
host_epccb1.timeout=60

host_epccb2.name=epccb2                  
host_epccb2.desc=网联接入平台2
host_epccb2.ip=192.168.10.202
host_epccb2.port=9768
host_epccb2.url=/
host_epccb2.timeout=60